@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-highlight: rgb(220, 40, 40);
    --color-offset: #d9d9d9;
}

@layer base {
    @font-face {
        font-family: 'VCR OSD Mono';
        src: url('../fonts/VCR_OSD_MONO.ttf') format('truetype');
    }

    input[type="text"],
    input[type="textarea"],
    input[type="email"],
    input[type="number"],
    textarea {
        @apply relative px-4 py-2 rounded-md text-sm font-medium text-left text-primary bg-secondary border-2 border-gray-300 focus:outline-none focus:border-primary hover:border-primary;
    }

    button {
        @apply relative flex flex-row items-center gap-2 p-2 border border-primary hover:bg-primary hover:text-secondary hover:fill-secondary;
    }

    h1 {
        @apply text-6xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
}

@layer components {
    .special-bg-diag {
        background-color: var(--color-secondary);
        opacity: 1;
        background: repeating-linear-gradient( -45deg, var(--color-primary), var(--color-primary) 13px, var(--color-secondary) 5px, var(--color-secondary) 25px );
    }

    .special-bg-cross {
        background-color: var(--color-secondary);
        opacity: 1;
        background: radial-gradient(circle, transparent 20%, var(--color-secondary) 20%, var(--color-secondary) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-secondary) 20%, var(--color-secondary) 80%, transparent 80%, transparent) 25px 25px, linear-gradient(var(--color-primary) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--color-primary) 2px, var(--color-secondary) 2px) -1px 0;
        background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    }
}
